.view1-page {
  border-top: 2px solid red;
  padding: 20px; }

.view2-page {
  border-top: 2px solid orange;
  padding: 20px; }

body {
  background: #efefef;
  margin: 0;
  padding: 0; }

.site-menu {
  padding: 10px 20px; }
  .site-menu-link {
    display: inline-block;
    margin-right: 10px; }

a {
  color: blue;
  text-decoration: none; }
  a:hover {
    color: rgba(0, 0, 255, 0.6); }
